<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col style="text-align: center">
            <ion-button color="medium" size="small" (click)="presentAlertConfirm()">End Session</ion-button>
          </ion-col>
    </ion-row>
    <br>
    <ion-progress-bar color="primary" value="{{ progress }}"></ion-progress-bar>
    <p style="text-align: center">Run {{ currentRun }} / {{ runTotal }} </p>
     <div *ngIf="incr">
       <ion-row>
         <ion-col style="text-align: center" *ngIf="incrTest">
            <ion-button #second (click)="startIncr(second)" color="success" class="circleButton">
                Increasing Run
            </ion-button>
          </ion-col>
        </ion-row>
          
        <ion-row>
          <ion-col style="text-align: center" *ngIf="incrTest == false">
              <ion-button id="incrButton" [disabled]="increasingStopped" #second (click)="stopIncr(second)" color="success" class="circleButton">
                  Increasing Run
              </ion-button>
          </ion-col>
        </ion-row>
     </div>
  
      <ion-row *ngIf="decrTest">
        <ion-col style="text-align: center">
            <ion-button [disabled]="sessionEnded" id="decrButton" #second (click)="stopDecr(second)" color="warning" class="circleButton">
                Decreasing Run
            </ion-button>
        </ion-col>
      </ion-row>
        
  
      <div style="text-align: center">
          <p *ngIf="incr"> Increasing: {{ values / 10 }} Hz </p>
          <p *ngIf="decrTest && sessionEnded == false">Decreasing: {{ values / 10 }} Hz</p>
      </div>
    
     <!-- DEBUGGING ONLY
     <p *ngIf="sessionEnded">Session Results: <br>
    Increasing: {{ incrTestResult / 10 }} Hz <br>
    Decreasing: {{ decrTestResult / 10 }} Hz
    </p> -->

    <div style="float: right">
        <ion-button *ngIf="showNextRunButton && currentRun < runTotal" (click)="nextRun(second)">Next</ion-button>
        <ion-button *ngIf="showFinishButton && currentRun == runTotal" routerLink="/notes" (click)="stopSession()">Finish</ion-button>
    </div>
    <div style="float: left">
        <ion-button *ngIf="showNextRunButton && currentRun <= runTotal" (click)="redoRun(second)">Redo</ion-button>
    </div>
</ion-content>
