<ion-header>
  <ion-toolbar>
    <ion-title>summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center">Session Summary</h1>

  <div class="results">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ascending &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Descending
      
     <div *ngFor="let result of results; let i = index">
       Run {{ i + 1 }}: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <div *ngFor="let sub of result; let j = index" style="display: inline">
         <div *ngIf="j == 0"  style="display: inline">
            {{ sub.incr / 10 }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            {{ sub.decr / 10 }}
         </div>
        </div>
      </div>

      <ion-button routerLink="/home" style="float: right" (click)="clearRuns()">Done</ion-button>
  </div>
  

</ion-content>
