<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center">Session Summary</h1>

  <div class="results">
      Average: <br> 
        <div class="box">
            {{ roundedAverage }} Hz
        </div>
      Variance: <br> 
      <div class="box">
          {{ roundedVariance }} 
      </div>
      
     <!-- <div *ngFor="let result of results; let i = index">
       Run {{ i + 1 }}: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <div *ngFor="let sub of result; let j = index" style="display: inline">
         <div *ngIf="j == 0"  style="display: inline">
            {{ sub.incr }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            {{ sub.decr }}
         </div>
        </div>
      </div> -->

      <table>

        <tr>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <th>Incr.</th>
              <th>Decr.</th>
          
        </tr>

        <tr *ngFor="let result of noRedoes; let i = index">
          Run {{ i + 1 }}:
          <td> {{ result.incr }} </td>
          <td> {{ result.decr }} </td>
        </tr>
      </table>

      <!-- Testing out Chart.js -->
      <ion-card>
        <ion-card-header>
          Bar Chart
        </ion-card-header>
        <ion-card-content>
          <canvas #barCanvas></canvas>
        </ion-card-content>
      </ion-card>
      
      <ion-button *ngIf="quickplayMode == false" routerLink="/home" style="float: right" (click)="promptForEmail()">Done</ion-button>
      <ion-button *ngIf="quickplayMode == true" routerLink="/home" style="float: right" (click)="clearRuns()">Done</ion-button>
  </div>
  

</ion-content>
