<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="medium" routerLink="/home">back</ion-button>
  <ion-col>
    <div class="table" *ngFor="let data of parsedData"> 
        <ion-item-divider></ion-item-divider><br>
        <!--
          <div routerLink="/{{ data.studyID }}/{{ data.date | date: 'MMM-dd-y' }}/t {{data.date | date: 'HH:mm:ss'}} ">
        -->
        <div routerLink="/dummy-history">
            Study ID: #{{ data.studyID }}
            <br><br>
            <ion-row>
                {{ data.date | date: 'longDate' }}
                {{ data.date | date: 'shortTime'}}
            </ion-row>
        </div>
    </div>
    <div class="table">
      <ion-item-divider></ion-item-divider>
    </div>
  </ion-col>
</ion-content>
