<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>      
        </ion-buttons>
        <ion-title style="padding-left: 60px;">beacon</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center">History</h1>
  <ion-col>
    <div class="table" *ngFor="let data of parsedData"> 
        <br>
        <div class="colSep"></div>
        <div routerLink="/dummy-history">
            Study ID: #{{ data.studyID }} 
            <br>
            <div class="arrow">
                <ion-icon name="play"></ion-icon>
            </div>
            <br>
            <ion-row>
                {{ data.date | date:'fullDate' }} 
                {{ data.date | date: 'shortTime' }}
            </ion-row>
        </div>
    </div>
    
    <div class="table">
        <div class="colEnd"></div>
    </div>
  </ion-col>
</ion-content>
