<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>      
        </ion-buttons>
        <ion-title style="padding-left: 60px;">history</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <div class="table" *ngFor="let dateObj of dateObjects; let i=index"> 
        <ion-item-divider></ion-item-divider><br>
        <div routerLink="/dummy-history">
            Study ID: #{{ parsedData[i].studyID }} 
            <br>
            <div class="arrow">
                <ion-icon name="play"></ion-icon>
            </div>
            <br>
            Date: {{ dateObj | date:'fullDate' }} <br>
            <!-- <ion-row>
                {{ data.date | date: ‘H:mm’ }} 
                {{ data.date | date: 'shortTime' }}
            </ion-row> -->
        </div>
    </div>
    <div class="table">
      <ion-item-divider></ion-item-divider>
    </div>
  </ion-col>
</ion-content>
