.sessionInfo {
    text-align: center;
}

.row {
    padding-left: 100px;
}

h2 {
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
}

h6 {
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
}

.data {
    word-spacing: 50px;
    padding-left: 70px;
}

.notes {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}

.format {
    padding-left: 20px;
    padding-right: 20px;
}