.sessionInfo {
    text-align: center;
}

.row {
    padding-left: 100px;
}

h2 {
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
}

h6 {
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
}