<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
  <br>
    <div *ngFor="let data of parsedData" class="format">
        <div class="sessionInfo">
            <h2> #{{ data.studyID }} </h2> <br>
            <h6>
                {{ data.date | date: 'longDate' }} 
                {{ data.date | date: 'shortTime' }}
            </h6> 
            <br>
          </div>
          <div class="row">
              <ion-row>
                  Ascending Descending
              </ion-row>
          </div>
          <div *ngFor="let item of data['session']; let i = index">
            <ion-row>
              Run {{ i + 1 }}: 
              <div class="data">
                  {{ item.incr }}
                  {{ item.decr }}
              </div>
            </ion-row>
          </div>
          <br>
          <div>Graph: XXXXX</div> 
          <br>
          Notes: <br>
          <div class="notes">
            Someone walked in during the session. 
          </div>

    </div>
   
</ion-content>
