<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>      
      </ion-buttons>
      <ion-title style="padding-left: 95px;">Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <!-- An input text box for recording the Study ID. -->
    <ion-item *ngIf="showID">
        <ion-label position="stacked">Study ID <ion-text color="danger">*</ion-text></ion-label>
        <div class="box">
            <ion-input required type="text" [(ngModel)]="studyID" (ionChange)="changeStudyID()"></ion-input>
        </div>
    </ion-item>

    <!-- An input text box for recording the Participant ID. -->
    <ion-item *ngIf="showParticipantID">
        <ion-label position="stacked">Participant ID <ion-text color="danger">*</ion-text></ion-label>
        <div class="box">
            <ion-input required type="text" [(ngModel)]="participantID" (ionChange)="changeParticipantID()"></ion-input>
        </div>
    </ion-item>

    <!-- A datepicker for recording the user's date of birth. -->
    <ion-item *ngIf="showBirthday">
        <ion-label>Date of Birth <ion-text color="danger">*</ion-text> </ion-label>
        <ion-datetime value="birthday" placeholder="Select Date" [(ngModel)]="birthday" (ionChange)="changeBirthday()"></ion-datetime>
    </ion-item>
    
    <!-- A dropdown for recording the user's sex. -->
    <ion-list *ngIf="showSex">
        <ion-item>
            <ion-label>Sex <ion-text color="danger">*</ion-text> </ion-label>
            <ion-select value="sex" interface="action-sheet" [(ngModel)]="sex" (ionChange)="changeSex()">
              <ion-select-option value="female">Female</ion-select-option>
              <ion-select-option value="male">Male</ion-select-option>
            </ion-select>
          </ion-item>
    </ion-list>

    <div id="error"> </div>
    <ion-button expand="block" color="medium" routerLink="/run" (click)="quickplayToFalse()">Start Session</ion-button>
</ion-content>
