<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="medium" routerLink="/home"><ion-icon name="arrow-dropleft"></ion-icon> back </ion-button>
      </ion-buttons>
      <ion-title style="padding-left: 100px;">data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <p *ngIf="showID || showName || showBirthday || showSex">Please enter the following information: </p>


    <form [formGroup]="myForm">
        Form Data: {{ myForm.value | json }}
        <ion-item *ngIf="showID">
            <ion-label position="stacked">Study ID<ion-text color="danger"></ion-text></ion-label>
            <ion-input formControlName="studyID" type="number"></ion-input>
        </ion-item>
    
        <ion-item *ngIf="showName">
            <ion-label position="stacked">Name<ion-text color="danger"></ion-text></ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
    
        <ion-item *ngIf="showBirthday">
            <ion-label position="stacked">Birthday</ion-label>
            <ion-input formControlName="dateOfBirth">
                <ion-datetime displayFormat="MMM DD, YYYY" placeholder="MMM DD, YYYY"></ion-datetime>
            </ion-input>
        </ion-item>
    
        
        <ion-input formControlName="sex" radio-group *ngIf="showSex">
            <ion-radio-group>
                <ion-list-header>
                    Sex
                </ion-list-header>
                <ion-item>
                  <ion-label>Female</ion-label>
                  <ion-radio value="female" name="sex"></ion-radio>
                </ion-item>
        
                <ion-item>
                  <ion-label>Male</ion-label>
                  <ion-radio value="male" name="sex"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-input>
          
    </form>

    <ion-button expand="block" color="medium" routerLink="/incr-instr">Start Session</ion-button>
</ion-content>
