<ion-header>
  <ion-toolbar>
    <ion-title>
      Bluetooth Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-button #first id="button" expand="block" (click)="scan(first)">
    Connect to Beacon <ion-icon name="bluetooth"></ion-icon>
  </ion-button>
   <ion-list> 
    <div *ngFor="let device of devices">
      <p>Found: {{ device.name || 'Unnamed' }} </p>
      <p>Found: {{ device.id }} </p>
    </div>  
   </ion-list> 

   <div *ngIf="incr">
     <ion-row>
       <ion-col style="text-align: center" *ngIf="incrTest">
          <ion-button #second (click)="startIncr(second)" color="success" class="circleButton">
              Increasing Test
          </ion-button>
        </ion-col>
      </ion-row>
        
      <ion-row>
        <ion-col style="text-align: center" *ngIf="incrTest == false">
            <ion-button #second (click)="stopIncr(second)" color="success" class="circleButton">
                Increasing Test
            </ion-button>
        </ion-col>
      </ion-row>
   </div>

    <ion-row *ngIf="decrTest">
      <ion-col style="text-align: center">
          <ion-button (click)="stopDecr()" color="warning" class="circleButton">
              Decreasing Test
          </ion-button>
      </ion-col>
    </ion-row>
      

   <p *ngIf="incr"> Increasing: {{ values / 10 }} Hz </p>
   <p *ngIf="decrTest && sessionEnded == false">Decreasing: {{ values / 10 }} Hz</p>
  
   <p *ngIf="sessionEnded">Session Results: <br>
  Increasing: {{ incrTestResult / 10 }} Hz <br>
  Decreasing: {{ decrTestResult / 10 }} Hz
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>