<link href="https://fonts.googleapis.com/css?family=Roboto|&display=swap" rel="stylesheet"><ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div class="space">
      <h1 style="text-align: center">Bluetooth Setup</h1>
      <p>Before using Beacon, you must first connect to the device. </p>
      <br>
      <ion-button #first id="button" expand="block" (click)="scan(first)">
        Connect to Beacon <ion-icon name="bluetooth"></ion-icon>
      </ion-button>
       <ion-list> 
        <div *ngFor="let device of devices">
          <p>Found: {{ device.name || 'Unnamed' }} 
          {{ device.id }} </p>
        </div>  
       </ion-list> 
       <ion-button routerLink="/home" style="float: right;">Skip</ion-button>
  </div>
      
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>