<ion-header>
    <ion-button fill="clear" color="dark" routerLink="/settings" class="settings">
        <ion-icon name="settings"></ion-icon>
    </ion-button>
  <ion-toolbar>
    <ion-title style="text-align: center">
      beacon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="medium" routerLink="/form">Start Session</ion-button>
  <ion-button expand="block" color="medium" routerLink="/quickplay">Quickplay</ion-button>
  <ion-button expand="block" color="medium" routerLink="/history">History</ion-button>
</ion-content>
