<ion-header>
    <ion-button fill="clear" color="dark" href="/settings" float="right">
        <ion-icon name="settings"></ion-icon>
    </ion-button>
  <ion-toolbar>
    <ion-title style="text-align: center">
      beacon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="medium" href="/form">Start Session</ion-button>
  <ion-button expand="block" color="medium" href="/quickplay">Quickplay</ion-button>
  <ion-button expand="block" color="medium" href="/history">History</ion-button>
</ion-content>
