.settings {
    float: right;
}

.white-box {
    width: 150px;
    height: 200px;
}

.name {
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}

.divider {
   height: 4px;
}