<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="medium" routerLink="/home"> <ion-icon name="arrow-dropleft"></ion-icon> back</ion-button>
        </ion-buttons>
        <ion-title style="padding-left: 60px;">settings</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
          <ion-label>Number of Runs</ion-label>
          <!-- TODO: Bind the number of runs to a service (dicates the number of times to display pages) -->
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Study ID</ion-label>
          <ion-toggle [checked]="showID" (ionChange)="changeShowID()"></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-toggle [checked]="showName" (ionChange)="changeShowName()"></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Birthday</ion-label>
          <ion-toggle [checked]="showBirthday" (ionChange)="changeShowBirthday()"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Sex</ion-label>
          <ion-toggle [checked]="showSex" (ionChange)="changeShowSex()"></ion-toggle>
        </ion-item>
      </ion-list>
</ion-content>
