<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>      
        </ion-buttons>
        <ion-title style="padding-left: 60px;">settings</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

      <!-- For selecting the total number of runs in a session. -->
      <ion-item>
          <ion-label>Number of Runs</ion-label>
          <ion-button slot="end" fill="clear" (click)="showBasicPicker()">Change</ion-button>
          <ion-label color="primary">{{ runTotal }}</ion-label>
      </ion-item>
      
      <ion-item>
          <ion-label>Minimum Frequency (Hz)</ion-label>
          <ion-input [(ngModel)]="min" (ionChange)="setMin()"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>Maximum Frequency (Hz)</ion-label>
          <ion-input [(ngModel)]="max" (ionChange)="setMax()"></ion-input>
      </ion-item>

      <h6 style="text-align: center">Input Fields Displayed in Form</h6> 
        <ion-item>
          <ion-label>Study ID</ion-label>
          <ion-toggle [checked]="showID" (ionChange)="changeShowID()"></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-toggle [checked]="showName" (ionChange)="changeShowName()"></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Birthday</ion-label>
          <ion-toggle [checked]="showBirthday" (ionChange)="changeShowBirthday()"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Sex</ion-label>
          <ion-toggle [checked]="showSex" (ionChange)="changeShowSex()"></ion-toggle>
        </ion-item>
      </ion-list>
</ion-content>
