<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>      
        </ion-buttons>
        <ion-title style="padding-left: 90px;">Settings</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

      <!-- For selecting the total number of runs in a session. -->
      <ion-item>
          <ion-label>Number of Runs</ion-label>
          <ion-button slot="end" fill="clear" (click)="showBasicPicker()">Change</ion-button>
          <ion-label color="primary">{{ runTotal }}</ion-label>
      </ion-item>
      
      <!-- Testing out the minimum frequency picker -->
      <ion-item>
          <ion-label>Minimum Frequency</ion-label>
          <ion-button slot="end" fill="clear" (click)="showMinPicker()">Change</ion-button>
          <ion-label color="primary">{{ min }}</ion-label>
      </ion-item>

       <!-- Testing out the maximum frequency picker -->
       <ion-item>
          <ion-label>Maximum Frequency</ion-label>
          <ion-button slot="end" fill="clear" (click)="showMaxPicker()">Change</ion-button>
          <ion-label color="primary">{{ max }}</ion-label>
      </ion-item>

      <h6 style="text-align: center">Input Fields Displayed in Form</h6> 
        <ion-item>
          <ion-label>Study ID</ion-label>
          <ion-toggle [checked]="showID" (ionChange)="changeShowID()"></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Participant ID</ion-label>
          <ion-toggle [checked]="showParticipantID" (ionChange)="changeShowParticipantID()"></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Date of Birth</ion-label>
          <ion-toggle [checked]="showBirthday" (ionChange)="changeShowBirthday()"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Sex</ion-label>
          <ion-toggle [checked]="showSex" (ionChange)="changeShowSex()"></ion-toggle>
        </ion-item>
      </ion-list>
</ion-content>
